body {
    margin: 0;
    font-family: monospace;
    text-align: center;
  }

div { 
  border-style: solid;
  border-width: 2px;
  padding: 2px;
}

#get-cat {
  top: 600px;
  align-items: center;
}

ul {
  list-style-type: none;
}



#breeds-container {
  height: 260px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

}

div#favorites {

  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

